<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROHIT</title>
</head>
<body style="background-color: blue;">
    <center>
        <h1>This is MI HTML Page</h1>
        <h1>Mumbai Indians are a franchise cricket team based in Mumbai, Maharashtra, that competes in the Indian Premier League and is the most successful team of the tournament with 5 titles. Founded in 2008, the team is owned by India's biggest conglomerate, Reliance Industries, through its 100% subsidiary Indiawin Sports. Since its establishment, the team has played its home matches in the 33,108-capacity Wankhede Stadium in Mumbai</h1>
        <a href="{% url 'dhoni:csk' %}"><h3 style="color: yellow;">Navigate To CSK HTML Page</h3></a>
        <a href="{% url 'kohli:rcb' %}"><h3 style="color:red">Navigate To RCB HTML Page</h3></a>
    </center>
</body>
</html>