<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOHLI</title>
</head>
<body style="background-color: red;">
    <center>
        <h1>This is RCB HTML Page</h1>
        <h1>Royal Challengers Bangalore (often abbreviated as RCB) are a franchise cricket team based in Bengaluru, Karnataka, that plays in the Indian Premier League (IPL). It was founded in 2008 by United Spirits and named after the company's liquor brand Royal Challenge.
The Royal Challengers have not won the IPL but finished runners-up on three occasions between 2009 and 2016. The team holds the records of both the highest and the lowest totals in the IPL – 263/5 and 49 respectively</h1>
        <a href="{% url 'mi' %}"><h3 style="color: blue;">Navigate To MI HTML Page</h3></a>
        <a href="{% url 'dhoni:csk' %}"><h3 style="color: yellow;">Navigate To CSK HTML Page</h3></a>
    </center>
</body>
</html>